* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(34, 36, 38);
  font-family: "Roboto", sans-serif;
  color: #e8e6e3;
  min-height: 100vh;
}

h1,
.todo-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  font-size: 25px;
  margin: 10px;
}

i {
  pointer-events: none;
}

#new-todo {
  padding: 5px;
  width: 300px;
}

.btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
  padding: 5px;
  border: #e8e6e3 solid 1;
  background-color: #e8e6e3;
  color: rgb(34, 36, 38);
  margin: 0 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(34, 36, 38);
  color: #e8e6e3;
}

.btn-done {
  background-color: rgb(102, 172, 102);
}

.btn-important {
  background-color: rgb(231, 231, 123);
}

.btn-trash {
  background-color: rgb(200, 101, 101);
}

.todo-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo-item {
  border: solid 1px #e8e6e3;
  padding: 5px;
  margin: 5px;
  width: 500px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item li {
  flex: 1;
}

.done {
  text-decoration: line-through;
}
